/* App.css */
.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: gray;
}

.title {
  text-align: center;
  margin-bottom: 20px;
  font-size: 100px;
  font-family: monospace;

}

.container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 80%;
}
/* /////////////////////////////// */
@keyframes imageSlideshow {
  0%, 100% { opacity: 1; transform: scale(1); }
}

.image-container {
  width: 850px;
  height: 850px;
  display: flex;
  overflow: hidden;
  animation: imageSlideshow 18s linear infinite; /* Adjust the duration based on the number of images */
  border-radius: 17%;
  border: solid rgb(61, 60, 60) 10px;
  margin-right: 10px;
  flex-shrink: 0;
}

.image-container img {
  width: 100%;
  height: 100%;
  transition: opacity 1s ease-in-out, transform 1s ease-in-out; /* Smooth transition between images */
}


/* /////////////////////////////// */

.instructions{
  justify-content:left;
  margin-left:30px;
  font-size:30px;
}

.drop-container {
  margin-left: 10px;
  border: 10px dashed #aaa;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15%;
  width: 850px;
  height: 850px;
}

.drop-container p {
  text-align: center;
  color: #000000;
  font-size:80px;
}
