img {
    display: flex;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    border-radius: 15%;
    width: 850px;
    height: 850px;
}


.image-uploader {
    position: relative;
  }
